
*.xcuserstate

*.xcworkspacedata

*.xcscheme

EMCocoaToolbox.xcodeproj/xcuserdata/toubin.xcuserdatad/xcschemes/xcschememanagement.plist

EMCocoaToolbox_Demo.xcodeproj/xcuserdata/chunfen.xcuserdatad/xcschemes/xcschememanagement.plist
